@very-light-gray: #E7E9F0,;
@light-gray: #A3A3A3;
@gray: #373b41;
@dark-gray: #373841;
@very-dark-gray: #292A34;

@cyan: #A8E8D7;
@blue: #75E6F7;
@purple: #CDA2FF;
@green: #B0F9C0;
@red: #F18585;
@orange: #F1B385;
@light-orange: #F1D485;
